.bordered{
  border: 1px teal solid;
}

.homepage{
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.navbar{
  border-bottom: 2px #454d5d solid;
/* #5755d9 */
}

.initialize-modal{
  /* flex: 1 is used to fill the remaining height of the screen*/
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Override Spectre CSS */
p {
  margin: 0 0 0.5rem !important;
}

/* Override Spectre CSS */
 .modal-container{
  width: auto !important;
  /* max-width: 80vw !important; */
  max-height: 90vh !important;
}

.modal-header{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* Override Spectre CSS */
.divider{
  border-top: .05rem solid #858ea1 !important;
}

.manufacturers{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 60vw;
}

.services{
  margin-top: 35px;
  column-count: 3;
}

.modal-footer-services{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modal-footer-services .btn-apply{
  height: 34px;
}

.discount{
  flex-direction: column;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.contact h5{
  align-self: left;
}

.contact textarea{
  resize: none;
}
.overview-content span{
  font-size: 0.678rem !important;

}
.overview-step span{
  margin: 0 !important;
  padding: 0 !important;
}
 

.overview-sections-wrapper .column{
  padding: 0;
}

.overview-section-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.overview-section-header h3, button{
  margin: 0;
}

.overview-service{
  display: flex;
  justify-content: space-between;
}

.overview-service span{
  margin: 0 !important;
  padding: 0 !important;
}

.overview-total{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.overview-contact-body{
  display: flex;
  justify-content: space-between;
}

.overview-contact-body-contents{
  display: flex;
  justify-content: space-between;
}

.note{
  display: flex;
  justify-content: flex-end;
}

.modal-footer-overview{
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.success{
  min-height: 250px;
}

.success-contents{
  max-width: 70%;
}